//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Thu 05 25 16:55:43 2023

IO_LOC "mdc" F14;
IO_PORT "mdc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "rmii_txdata[1]" E14;
IO_PORT "rmii_txdata[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "rmii_txdata[0]" D16;
IO_PORT "rmii_txdata[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "rmii_txen" E16;
IO_PORT "rmii_txen" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "mdio" F16;
IO_PORT "mdio" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "rmii_rxdata[1]" C9;
IO_PORT "rmii_rxdata[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "rmii_rxdata[0]" F15;
IO_PORT "rmii_rxdata[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "rmii_rxdv" M6;
IO_PORT "rmii_rxdv" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "rmii_clk" A9;
IO_PORT "rmii_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sys_clk" H11;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sys_rst_n" T3;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS15 PULL_MODE=NONE;
